.Rproj.user
.Rhistory
.RData
.Ruserdata
/doc/Book.R.4ct
/doc/Book.R.4tc
/doc/00.Prefacio.aux
/doc/01.Capitulo.1.aux
/doc/Book.R.aux
/doc/Book.R.dvi
/doc/Book.R.epub
/doc/Book.R.html
/doc/Book.R.idv
/doc/Book.R.log
/doc/Book.R.pdf
/doc/*.tmp
/doc/Book.R.toc
/doc/Book.R.xref
